# ========================
# Build Output
# ========================
target/

# ========================
# Environment / Secrets
# ========================
.env

# ========================
# IDE / Editor Configs
# ========================

# Eclipse / Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# NetBeans
/nbproject/private/
!**/src/main/**/build/
!**/src/test/**/build/
